body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}

.gossip {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

body.dark-mode .gossip {
  background-color: #1e1e1e;
}
